/* Add custom color palette */
:root {
    --primary-color: #2570FF;
    /* Royal Blue */
    --accent-color: #00C2FF;
    /* Sky Cyan */
    --background-color: #F5F6FA;
    /* Off White */
    --text-color: #4B5563;
    /* Charcoal */
    --button-hover-color: #0041D4;
    /* Deep Blue */
    --white-background: #fff;

    --title-color: #424242;


    /* Global Typography */
    --font-size-sm: 12px;
    --font-size-base: 13px;
    --font-size-md: 16px;
    --font-size-24: 24px;
    --font-size-lg: 18px;
    --font-size-xl: 28px --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}

.mt-24 {
    margin-top: 24px !important;
}

.f-12 {
    font-size: var(--font-size-sm);
}

.f-13 {
    font-size: var(--font-size-base);
}

.text-color {
    color: var(--text-color);
}

.m-0 {
    margin: 0px;
}

.p-0 {
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: #333;

}


.main-content {
    padding: 18px;
}


/* Header Styles */
header {
    background-color: #0066cc;
    color: white;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 260px;
    background: #ffffff;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

#sidebar.collapsed {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
    border-bottom: 1px solid #f4f4f4;
    text-align: center;
}

#sidebar.collapsed .sidebar-header .sidebar-logo-text {
    display: none;
}

#sidebar .sidebar-header .sidebar-logo-icon {
    display: none;
}

#sidebar.collapsed .sidebar-header .sidebar-logo-icon {
    display: inline-block;
    font-size: 2rem;
    color: #6a71e5;
}

#sidebar ul.components {
    padding: 12px 8px;
    /* border-bottom: 1px solid #e9ecef; */
}

#sidebar ul p {
    color: #a5a5a5;
    padding: 10px 30px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

#sidebar.collapsed ul p {
    display: none;
}

#sidebar ul li a {
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    color: rgb(85, 85, 85);
    font-weight: 400;
    padding: 8px;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 8px;
}

#sidebar.collapsed ul li a {
    padding: 6px;
    justify-content: center;
    margin: 5px;
}

#sidebar ul li a i {
    margin-right: 15px;
    font-size: 1.3rem;
    min-width: 25px;
    text-align: center;
    transition: color 0.3s;
}

#sidebar.collapsed ul li a i {
    margin-right: 0;
}

#sidebar ul li a .menu-text {
    transition: opacity 0.3s;
    white-space: nowrap;
}

#sidebar.collapsed ul li a .menu-text,
#sidebar.collapsed ul.collapse {
    display: none;
}

/* Icon Colors */
.icon-dashboard {
    color: #5e81f3;
}

.icon-admin {
    color: #4caf50;
}

.icon-booking {
    color: #9c27b0;
}

.icon-property {
    color: #ff9800;
}

.icon-space {
    color: #f44336;
}

.icon-asset {
    color: #3f51b5;
}

.icon-maintenance {
    color: #8bc34a;
}

/* Active and Hover States */
#sidebar ul li.active a,
#sidebar ul li a[aria-expanded="true"] {
    color: #555;
}

#sidebar ul li.active a .icon-dashboard,
#sidebar ul li a[aria-expanded="true"] .icon-dashboard,
#sidebar ul li a:hover .icon-dashboard {
    color: #5e81f3;
}

#sidebar ul li.active a.dashboard,
#sidebar ul li a[aria-expanded="true"].dashboard {
    background-color: rgba(94, 129, 243, 0.1);
}

#sidebar ul li.active a .icon-admin,
#sidebar ul li a[aria-expanded="true"] .icon-admin,
#sidebar ul li a:hover .icon-admin {
    color: #4caf50;
}

#sidebar ul li.active a.admin,
#sidebar ul li a[aria-expanded="true"].admin {
    background-color: rgba(76, 175, 80, 0.2);
}

#sidebar ul li.active a .icon-booking,
#sidebar ul li a[aria-expanded="true"] .icon-booking,
#sidebar ul li a:hover .icon-booking {
    color: #9c27b0;
}

#sidebar ul li.active a.booking,
#sidebar ul li a[aria-expanded="true"].booking {
    background-color: rgba(156, 39, 176, 0.2);
}

/* Add other colors similarly */


/* Submenu Styles */
#sidebar ul ul a {
    font-size: var(--font-size-base) !important;
    padding-left: 36px !important;
    background: transparent;
    margin: 2px 10px;
}

/* Arrow icon for dropdown */
.arrow-icon {
    transition: transform 0.3s;
    font-size: 0.8rem !important;
    margin-left: auto;
    align-self: center;
}

#sidebar.collapsed .arrow-icon {
    display: none;
}

/* Rotate arrow when dropdown is shown */
a[aria-expanded="true"] .arrow-icon {
    transform: rotate(180deg);
}

.dropdown-toggle::after {
    display: none;
}


#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
}

.navbar {
    padding: 6px 8px;
    background: #ffffff !important;
    border: none;
    border-radius: 0;
}

#sidebar-toggle {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #555;
}

.search-input {
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    padding: 8px 15px;
}

.company-logo img {
    max-height: 36px;
}

.user-profile img {
    width: 40px;
    height: 40px;
}

.notification-bell,
.last-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-bell i {
    font-size: 1.5rem;
    color: var(--primary-color) !important;
}


.global-search-input {
    border-radius: 8px;
    border: 0.6px solid #D1D5DB;
    background: #F5F6FA;
}

.global-search-input .form-control {
    background: #f5f6fa;
    
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: #f4f4f4 !important;
}



/* Button Styles */

.custom-btn {
    border-radius: 6px;
}

.btn-md {
    padding: 8px 14px;
    font-size: var(--font-size-base);
}


.btn-sm {
    padding: 4px 12px;
    font-size: var(--font-size-sm);
}

.btn-lg {
    padding: 12px 24px;
    font-size: var(--font-size-md);
}

.cancel-btn {
    background-color: transparent;
    border: 1px solid #ff9ea8;
    color: #dc3545;
}

.cancel-btn:hover {
    background-color: #dc3545;
    color: white;
}




/* Footer Styles */
footer {
    background-color: #343a40;
    color: white;
}

footer p {
    margin: 0;
}

.card {
    border-radius: 8px;
    background-color: #fff;

    /* Cart/Soft Shadow */
    box-shadow: 0px 4px 30px 0px rgba(46, 45, 116, 0.05);
    border: none;
    padding: 14px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    align-items: center;
}

.card-head .card-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semi-bold);
    margin: 0px;
}

.card-head .card-view-btn {
    color: var(--primary-color);
    cursor: pointer;
    font-size: var(--font-size-sm);
}

.page-tite {
    font-size: var(--font-size-lg);
    font-weight: 600;

}

/* Input forms css */



.filter-select,
.filter-input input {
    border-radius: 50px;
}

/* .filter-input {
    min-width: 200px;
} */

.filter-input .form-control {
    border-left: none;
}

.filter-input .input-group-text {
    border-right: none;
    background-color: white;
    border-radius: 50px;
    padding: 4px 6px;
}

/* select.form-select {
   padding: 0.375rem 0.75rem;
 } */

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
}

.form-control {
    font-size: var(--font-size-base);
    color: var(--text-color);
}

.form-control:focus {
    border-color: #dee2e6;
    box-shadow: none;

}

.form-select {
    font-size: var(--font-size-base);
    color: var(--text-color);
}

.form-select:focus {
    border-color: #dee2e6;
    box-shadow: none;
}



/* dropdown with search input New */
.custom-dropdown-btn {
    border-radius: 50px;
    padding: 6px 16px;
    border: 1px solid #D1D5DB;
    font-size: var(--font-size-base);
    background-color: var(--white-background);
    color: var(--text-color);
}

.custom-dropdown-btn:hover {
    background-color: #f0f0f0;
}

.custom-dropdown-menu {
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 4px 0;
    max-height: 250px;
    overflow-y: auto;
}

.dropdown-search-wrapper {
    padding: 8px 12px;
}

.dropdown-search-input {
    width: 100%;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.custom-dropdown-menu .dropdown-item {
    padding: 6px 12px;
    border-radius: 0px;
    font-size: var(--font-size-base);
    color: var(--text-color);
    font-weight: 400;
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0;
}


/* Status Badges */


.status-badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: var(--font-size-sm);
    font-weight: 400;
    border-radius: 999px;
    padding: 2px 14px;
    /* margin-bottom: 8px; */
    white-space: nowrap;
}

.status-badge i {
    font-size: 1rem;
}

/* Specific Styles */
.status-badge.assigned {
    background-color: #e1ecff;
    color: #2563eb;
}

.status-badge.in-progress {
    background-color: #fff4e5;
    color: #d97706;
}

.status-badge.on-hold {
    background-color: #f3e8d2;
    color: #a16207;
}

.status-badge.closed {
    background-color: #fce2e2;
    color: #b91c1c;
}

.status-badge.submitted {
    background-color: #e5e7eb;
    color: #374151;
}

.offcanvas-title {
    font-size: var(--font-size-md);
    font-weight: 500;
    margin-bottom: 0px;
}