 .custom-tabs .nav-link {
     border-radius: 4px;
     background-color: #f5f8ff;
     color: var(--text-color);
     font-weight: 500;
     padding: 6px 16px;
     display: flex;
     align-items: center;
     gap: 4px;
     background-color: #ffffff;
 }

 .custom-tabs .nav-link i {
     font-size: 16px;
 }

 .custom-tabs .nav-link.active {
     background-color: var(--primary-color);
     color: #ffffff;
 }

 .helpDesk-card-head {
     border-bottom: 1px solid #D1D5DB;
     padding-bottom: 12px;
 }

 .filter-select,
  .filter-input input {
    min-width: 140px;
    height: 40px;
    border-radius: 50px;
  }

  .filter-input {
    min-width: 200px;
  }

  .filter-input .form-control {
    border-left: none;
  }

  .filter-input .input-group-text {
    border-right: none;
    background-color: white;
    border-radius: 50px;
  }

  select.form-select {
    padding: 0.375rem 0.75rem;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
  }
  
  .form-control{
    font-size: var(--font-size-base);
    color: var(--text-color);
  }

  .form-control:focus{
    border-color: #dee2e6;
    box-shadow: none;

  }

  .form-select{
    font-size: var(--font-size-base);
    color: var(--text-color);
  }

  .form-select:focus{
    border-color: #dee2e6;
    box-shadow: none;
  }

  /* .filter-select .input-group-text {
    background-color: #fff;
    border-right: 0;
  }

  .filter-select .form-select {
    border-left: 0;
    border-radius: 0 8px 8px 0;
  }

  .input-group.filter-select {
    min-width: 180px;
  } */